
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="1" bgcolor="#003399"><img src="images/empty.gif" width="780" height="1"></td>
  </tr>
  <tr> 
    <td align="center"> 
      <table width="450" border="0" cellspacing="0" cellpadding="5" class="table2">
        <tr align="center"> 
          <td rowspan="3" valign="middle" ><a href="{loginurl}"><img src="template/myy1/images/14.gif" alt="{LOGO}" width="120" height="80" border="0" style="cursor:default"></a></td>
          <td colspan="5" nowrap> 
            <!--  BEGIN foots -->
            {footname} 
            <!--  END foots -->
          </td>
        </tr>
        <tr> 
          <td colspan="5" align="center" nowrap>{companyname}</td>
        </tr>
        <tr> 
          <td colspan="5" align="center" nowrap >{service}</td>
        </tr>
      </table></td>
  </tr>
  
</table>
</body>
</html>